@import (less) '../../node_modules/normalize.css/normalize.css';

@header-color: #668294;

body {
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

p {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

// ЗАГОЛОВОК
.header {
    &__menu {
        background-color: #394e5b;
        border-bottom: 1px solid @header-color;
    }

    //ОБОЛОЧКА ЗАГОЛОВКА
    &_wrapperMenu {
        max-width: 920px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // UNGART
    &__name {
        color: #fff;
        font-family: "EXO", sans-serif;
        font-size: 32px;
        letter-spacing: 10px;
    }

    // ССЫЛКИ
    &__menuList {
        ul {
            list-style: none;
            display: flex;
            padding-left: 0;

            li:last-child {
                padding-right: 15px;
            }
        }
        color: @header-color;
    }

    &__menuItem {
        font-size: 14px;
        letter-spacing: 2px;
    }

    &__menuLink {
        color: @header-color;
        text-decoration: none;
    }

    &__menuLink:hover {
        color: #fff;
    }

    &__slash {
        margin-left: 16px;
        margin-right: 16px;
    }

    &_activeLink {
        color: #fff;
        position: relative;
    }

    &_activeLink::after{
        position: absolute;
        top: 20px;
        left: 14px;
        width: 45px;
        border-top: 2px solid #dd6359;
        content:"";
    }

    // ЗАГОЛОВОК 2 БЛОК
    &__slider {
        background: #4c6677;
        border-bottom: 3px solid #fff;
    }

    // ОБОЛОЧКА ЗАГОЛОВКА
    &__wrapperSlider {
        max-width: 920px;
        height: 555px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    // ФОН 2 БЛОКА
    &__atlasbg {
        position: absolute;
        width: 1000px;
        height: 450px;
        opacity: 0.1;
    }

    &__firstString {
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 52px;
        font-weight: normal;
        letter-spacing: 7px;
        z-index: 100;
    }

    &__secondString {
        margin: 20px 0 40px;
        padding: 0;
        color: #fff;
        font-size: 30px;
        font-weight: normal;
        letter-spacing: 5px;
        z-index: 100;
    }
}

// КНОПКА
button {
    width: 250px;
    height: 62px;
    background-color: #d16262;
    color: #fff;
    font-size: 20px;
    letter-spacing: 3px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid #953d3d;
    cursor: pointer;
    z-index: 100;
}

button:hover {
    background-color: lighten(#d16262, 3%);
    border-bottom: 2px solid lighten(#953d3d, 3%);
}

// ОСНОВНАЯ ЧАСТЬ
.content {

    // БЛОК 1 WHAT WE DO
    .whatWeDo {
        background-color: #e9edef;

        // ОБОЛОЧКА БЛОКА 1
        &_wrapper {
            max-width: 920px;
            height: 660px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        // ЗАГОЛОВОК БЛОКА 1
        &__title {
            margin-top: 52px;
            margin-bottom: 52px;
            font-size: 42px;
            color: #394e5b;
            letter-spacing: 5px;
            position: relative;
        }

        &__title::before{
            position: absolute;
            top: 70px;
            left: 62px;
            width: 180px;
            border-top: 2px solid #919da5;
            content:"";
        }

        // ОПИСАНИЕ БЛОКА 1
        &__desc {
            font-size: 20px;
            color: #394e5b;
            text-align: center;
            letter-spacing: 3px;
            line-height: 1.5;
            margin-bottom: 85px;
        }

        // СЕРВИСЫ
        &__services {
            display: flex;
            flex-direction: row;

            .servMod {
                width: 278px;
                height: 238px;
                border: 1px solid #919da5;
                padding-top: 84px;
                text-align: center;
            }
        }

        .serviceTitle {
            font-family: "EXO", sans-serif;
            font-size: 24px;
            color: #d16262;
            letter-spacing: 4px;
            margin-bottom: 15px;
        }

        .serviceDesc {
            font-size: 16px;
            color: #4c6677;
            line-height: 1.7;
        }

        // ОТСТУПЫ ДЛЯ БЛОКОВ СЕРВИСОВ
        &__service1 {
            margin-right: 40px;
        }

        &__service2 {
            margin-right: 40px;
        }

        // ИКОНКИ
        &__service1::after {
            background: url(../img/service1.png) no-repeat;
            transform: translateX(65px) translateY(-340px);
            height: 110px;
            display: block;
            content: '';
        }

        &__service2::after {
            background: url(../img/service2.png) no-repeat;
            transform: translateX(65px) translateY(-340px);
            height: 110px;
            display: block;
            content: '';
        }

        &__service3::after {
            background: url(../img/service3.png) no-repeat;
            transform: translateX(65px) translateY(-340px);
            height: 110px;
            display: block;
            content: '';
        }

        // ОТСТУПЫ ДЛЯ ВНУТРЕННЕЙ СОСТАВЛЯЮЩЕЙ БЛОКОВ
        .service1Desc {
            margin-right: 45px;
            margin-left: 45px;
        }
        .service2Desc {
            margin-right: 33px;
            margin-left: 33px;
        }

        .service3Desc {
            margin-right: 30px;
            margin-left: 30px;
        }
    }

    // БЛОК 2 PORTFOLIO
    .portfolio {
        background-color: #fff;
        border-top: 1px solid #ced5d9;

        // ОБОЛОЧКА
        &_wrapper {
            max-width: 920px;
            height: 960px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__title {
            margin-top: 50px;
            margin-bottom: 35px;
            font-family: "EXO", sans-serif;
            font-size: 42px;
            letter-spacing: 7px;
            position: relative;
        }

        &__title::before{
            position: absolute;
            top: 70px;
            left: 47px;
            width: 182px;
            border-top: 2px solid #919da5;
            content:"";
        }

        &__icon {
            margin-bottom: 10px;
        }

        &__allProjects {
            font-family: "Ubuntu", sans-serif;
            font-size: 16px;
            letter-spacing: 3px;
        }

        // ПРОЕКТЫ
        &__projects {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 30px;
        }

        &__project {
            width: 280px;
            height: 280px;
            margin-bottom: 40px;
            margin-right: 40px;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                transition: all .5s;
            }

            h3, p {
                position: absolute;
                transition: 0.4s;
                z-index: 2;
                transform: scale(0.5);
                opacity: 0;
                cursor: default;
                color: #fff;
            }

            h3 {
                top: 42%;
                left: 22.5%;
                font-family: "EXO", sans-serif;
                font-size: 24px;
                letter-spacing: 4px;
            }

            p {
                top: 54%;
                left: 22.5%;
                font-size: 16px;
                letter-spacing: 2px;
            }
        }

        &_projMod {
            margin-right: 0;
        }

        // НАДПИСЬ ПО НАВЕДЕНИЮ
        &__project:hover h3, &__project:hover p{
            opacity: 1;
            transform: scale(1);
        }

        // УВЕЛИЧЕНИЕ ИЗОБРАЖЕНИЯ ПО НАВЕДЕНИЮ
        &__project:hover img {
            transform: scale(1.2);
        }

        // ТЕМНЫЙ ФОН ПО НАВЕДЕНИЮ
        &__project::before {
            position: absolute;
            content: '';
            background: rgba(0, 0, 0, 0.7);
            width: 0;
            height: 100%;
            left: 50%;
            transition: all .5s;
            z-index: 1;
        }

        &__project:hover::before {
            width: 100%;
            left: 0;
        }

        .portfolioButton {
            font-family: "Ubuntu", sans-serif;
            font-weight: bold;
        }
    }

    // БЛОК 3 ABOUT
    .about {
        background-color: #384d59;
        border-top: 1px solid #222f37;

        // ФОНОВОЕ ИЗОБРАЖЕНИЕ
        &__imgBG {
            position: absolute;
            opacity: 0.01;
            z-index: 1;
            width: 100%;
            height: 639px;
        }

        // ОБОЛОЧКА
        &__wrapper {
            max-width: 920px;
            height: 639px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__title {
            margin-top: 50px;
            margin-bottom: 40px;
            font-family: "EXO", sans-serif;
            font-size: 42px;
            letter-spacing: 7px;
            color: #fff;
            position: relative;
        }

        &__title::before{
            position: absolute;
            top: 65px;
            left: 35px;
            width: 182px;
            border-top: 2px solid #9ca6ac;
            content:"";
        }

        &__description {
            text-align: center;
            font-size: 20px;
            letter-spacing: 2px;
            line-height: 1.5;
            color: #88a4b6;
            cursor: default;
            margin-bottom: 28px;
        }

        // ИКОНКИ ЛЮДЕЙ
        &__specialists {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__specialist {
            height: 302px;
            width: 200px;
            border-bottom: 2px solid #2b3b45;
            margin-right: 40px;
            z-index: 2;
            position: relative;
            overflow: hidden;

            img {
                transition: .5s;
            }
        }

        // УВЕЛИЧЕНИЕ ИЗОБРАЖЕНИЯ ПО НАВЕДЕНИЮ
        &__specialist:hover img {
            transform: scale(1.05);
        }

        // БЕЛЫЙ ФОН ПО НАВЕДЕНИЮ
        &__specialist::before {
            position: absolute;
            content: '';
            background-color: #fff;
            width: 10px;
            height: 10px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin:auto;
            opacity: 0;
            border-radius: 100%;
            z-index: 3;
            transition: all 0.3s;
        }

        &__specialist:hover::before {
            border-radius: 0;
            width: 100%;
            height: 100%;
            opacity: 0.8;
        }

        // НУЛЕВОЙ ОТСТУП У ПОСЛЕДНЕГО ЭЛЕМЕНТА В СТРОКЕ
        .last {
            margin-right: 0;
        }

        // ТАБЛИЧКИ С ОПИСАНИЕМ ЛЮДЕЙ
        &__specDesc {
            width: 200px;
            height: 65px;
            border-bottom: 2px solid #2b3b45;
            margin-top: 8px;
            margin-right: 40px;
            background-color: #fff;
            text-align: center;
            z-index: 3;

            h3 {
                font-size: 16px;
                margin-top: 10px;
                margin-bottom: 7px;
                letter-spacing: 2px;
                color: #3a4e5b;
            }

            p {
                color: #d16262;
                font-size: 16px;
                letter-spacing: 2px;
            }
        }

        // ИКОНКИ СОЦИАЛЬНЫХ СЕТЕЙ
        .icons {
            display: flex;
            font-size: 20px;
            color: #74838c;
            position: absolute;
            z-index: 4;
            transition: all 0.3s;
            top: 130px;
            left: 28px;
            opacity: 0;

            a {
                color: #74838c;
            }

            // ЦВЕТ ИКОНКИ ПО НАВЕДЕНИЮ
            &__facebook, &__twitter {
                margin-right: 9px;
            }

            &__facebook:hover {
                color: #dd6359;
                border-color: #dd6359;
            }

            &__twitter:hover {
                color: #2DAAE1;
                border-color: #2DAAE1;
            }

            &__linkedin:hover {
                color: #225982;
                border-color: #225982;
            }
        }

        // ОТОБРАЖЕНИЕ ИКОНОК ПО НАВЕДЕНИЮ
        &__specialist:hover .icons {
            opacity: 1;
        }

        .icon {
            height: 34px;
            width: 34px;
            border: 4px solid #74838c;
            border-radius: 100%;
            text-align: center;
            line-height: 34px;
        }
    }
}

// ФУТЕР
.footer {

    // БЛОК 1 CONTACT
    .contact {
        background-color: #e9edef;
        border-bottom: 1px solid #cdd8dd;

        // ОБОЛОЧКА
        &_wrapper {
            max-width: 920px;
            height: 600px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        // ЗАГОЛОВОК
        &__title {
            margin-top: 50px;
            margin-bottom: 45px;
            font-family: "EXO", sans-serif;
            font-size: 42px;
            letter-spacing: 7px;
            position: relative;
            color: #394e5b;
        }

        &__title::before{
            position: absolute;
            top: 65px;
            left: 60px;
            width: 182px;
            border-top: 2px solid #919da5;
            content:"";
        }

        // ОПИСАНИЕ
        &__description {
            font-family: "Ubuntu", sans-serif;
            font-weight: lighter;
            text-align: center;
            color: #4c6677;
            font-size: 20px;
            letter-spacing: 4px;
            line-height: 1.5;
            margin-bottom: 30px;
        }

        // ИНПУТЫ
        &__inputs {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .input {
                border: 1px solid #b6c6d0;
                border-radius: 10px;
                font-family: "EXO", sans-serif;
                font-weight: 200;
                font-size: 20px;
                letter-spacing: 2px;
            }

            .input:focus {
                outline: 0;
                border: 2px solid #b6c6d0;
            }
        }

        &__nameInput {
            width: 408px;
            height: 61px;
            margin-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }

        &__mailInput {
            width: 408px;
            height: 61px;
            padding-left: 20px;
            padding-right: 20px;
        }

        &__messageInput {
            width: 878px;
            height: 132px;
            margin-bottom: 30px;
            padding: 20px 20px 0 20px;
        }

        // УТОЛЩЕНИЕ БОРДЕРА ПРИ ФОКУСЕ
        &__nameInput:focus {
            width: 406px;
            height: 59px;
            padding-left: 19px;
        }

        &__mailInput:focus {
            width: 406px;
            height: 59px;
            padding-left: 19px;
        }

        &__messageInput:focus {
            width: 876px;
            height: 130px;
            padding-left: 19px;
            padding-top: 19px;
        }

        &__button {
            margin: 0 auto;
            font-family: "Ubuntu", sans-serif;
            font-weight: 700;
        }
    }

    .social {
        background: #fff;

        &_wrapper {
            max-width: 920px;
            height: 112px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }

        &__rights {
            width: 40%;
            font-family: "Ubuntu", sans-serif;
            font-weight: 300;
            margin-top: 50px;
            color: #394e5b;
            letter-spacing: 3px;
        }

        &__icons {
            width: 300px;
            display: flex;
            justify-content: flex-end;
            color: #74838c;
            margin-top: 35px;
            a {
                color: #74838c;
            }
        }

        &__icon {
            height: 42px;
            width: 42px;
            border: 4px solid #74838c;
            border-radius: 100%;
            text-align: center;
            line-height: 42px;
            font-size: 20px;
            margin-left: 8px;
            transition: all 0.3s;
        }

        .facebook:hover {
            border: 4px solid #3B5998;
            color: #3B5998;
        }

        .twitter:hover {
            color: #2DAAE1;
            border-color: #2DAAE1;
        }

        .youtube:hover {
            color: #FF0000;
            border-color: #FF0000;
        }

        .linkedin:hover {
            color: #225982;
            border-color: #225982;
        }

        .envelope:hover {
            color: #30BAF7;
            border-color: #30BAF7;
        }
    }
}
